
*{
    background-color: #bee1b2;
    background-image: src('.');
   
  
}
.titulos{
     font-family: Arial, Helvetica, sans-serif;
     padding-bottom:0;
     margin-bottom: 0;
}
#Currentlocation{
    font-weight: 500;
}

p{
    font-size:1em;
    color:#4D7542;
    text-align: center;
    align-content: center;
    margin:auto;
   
}

.voltar{
    background-color: #4D7542;
    border-radius: 43px;
    padding-left: 30px ;
    color:white;
    font-weight: bold;
    padding-right: 30px;
}
select{
    background-color: white;
    color:#4D7542;
    font-weight:400;


}

label[for=description]
{
   margin-bottom:2em;
}

h7{
    color:#4D7542;
    background-color: transparent;
}
label {
    color:#4D7542;
    background-color: transparent;
}



#description{
    margin-top:1em;
    border-color: white;;
   width:20em;
    background-color: white;
color: #4D7542;
}
img{
    background-color: transparent;
}

input{
    background-color: white;
    padding: 0.5em;
    margin:0.5em;
    border-radius:10px;
    color:#4D7542;
    border-color:#bee1b2;

}

.headertracker{
    text-align: left;
}

button#Tracker, button#Equipas , button#Turnos, button#Perfil{
    padding: 0;
}