button.voltar{
text-align: left;
margin:2em;
}

#Avatar{
    text-align: center;
}

.flexy{
    text-align: center;
}

.post p:first-child{
    opacity: 40%;
    text-align: right;
    font-weight: bold;
    color:hotpink;
    text-decoration-line: underline;
    text-decoration-color: hotpink;

}
.post{
    padding:1em;
    border-radius: 10em;
margin:1em 3em 1em 3em;
    text-align: center;
}

.titles{
    text-align: center;
}
.labels{
    color:#bee1b2;
    background-color:white;
    border-radius:20px;
    margin-right: 0.5em;
    padding: 0 1em 0.1em 1em;
}

.labelequipa{
    padding: 0 1em 0.1em 1em;
    color:hotpink;
    background-color: hotpink;
    border-radius:20px;
}

.CompPerfil{
    background-color: #bee1b2;
    height:100vh;
}

.labelequipa:hover{
    color:white;
}

@media only screen and (min-width: 530px){
    .post, select{
        width:70vh;
        margin: 1em auto 1em auto;
        color:#3d5e34;
    }
}