.compFeed {
    width: 100%;
    text-align: center;
}

bg-calendar {
    background: white;
}

.esapcofooterfeed{
    margin-bottom: 2em !important;
}

.spacerrFeed_footer{
    height: 100px;
    margin-bottom: 3em !important;
}

.alinhar_frase_esq{
    text-align: left !important;
    margin-left: 2em !important;
    padding-top: 1em;
    padding-bottom: 1em;
}