.compFeed {
    width: 100%;
    text-align: center;
}

bg-calendar {
    background: white;
}

.esapcofooterfeed{
    margin-bottom: 2em !important;
}

.spacerrFeed_footer{
    height: 100px;
    margin-bottom: 3em !important;
}