.fundosign {
    background: #4D7542;
    height: 100vh;
}


#titulo {
    margin: auto 0 auto 0;
}


.tituloprincipal {
    text-align: center;
    color: white;
    margin-top: 10vh;
    font-size: 40px;
}

.textaligninputs {
    text-align: center;
background: #4D7542;
}
.escolherAva p{
font-size: medium;

}
.escolherAva{
    text-align: center;
    color: white;
    margin-top: 10vh;
    font-size: 40px;
}

.espacoparainPuts{
  margin-top: 1em;
  margin-bottom: 1em;
}
a{
    text-decoration:none;
    color:#3d5e34;
}
.corbranca{
    color: white;
}

.btnsignup{
    margin-top: 4em;
    margin-bottom: 3em;
}

.btnHsignup{
    padding: 0.5rem 1rem;
    color: #4D7542;
    background: #BEE1B2;
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 10px;
}

.escolahcidade{
    color: #BEE1B2;

}

.divescolhacid{
    margin-top: 0.8em;
    margin-bottom: 0.8em;
}
input[type='text'],input[type='email'],  select{
    width: 60%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

input[type='password'], select{
    width: 60%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

  @media only screen and (max-width: 600px){
    input[type=text],input[type='email'],input[type='password'],  select{
        width: 80%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
      }
  }

  @media only screen and (max-width: 320px){
    input[type="text"],input[type="email"], input[type="submit"], select{
        width: 90%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
      }
  }

.creators {
    margin: 1em;
    text-align: center;
    font-size: 3em;


}

.creators p {
    font-weight: lighter !important;
}

.creators button {
    width: 50vh;
    height: 50vh;
    border-radius: 50%;
    background-color: transparent;

}

.creators button img {
    width: 100%;
    height: 100%;
}

.infos img {
    margin: 2em;
}

.infos p {
    color: #bee1b2;
    font-size: medium;
}

.creators p {
    font-weight: bold;
    color: #3d5e34;

}
  .divESp {
    /*border-radius: 5px;*/
    background-color: #4D7542;
    padding: 20px;
  }


  .localizacaobtn{
    width: 60%;
    padding: 12px 20px;
    margin: 8px 0;
  }

  .footeralt{
    padding-bottom: 0;
    margin-bottom: 0;
  }

  .h3about {
      font-size: xxx-large;
      text-align: center;
      margin-bottom: 2em;
      color: #4D7542;
  }

.espacofooterabout{
  margin-bottom: 5em;
}

.h1about{
  margin-top: 3em;
}

.paragrafowidth{
  width: 90%;

}
#refresh{
    margin:15px;
}
.textoclean{
  text-align: justify !important;
}

.containerrrdiv{

display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
align-content: center !important;
margin: auto;

}

.criadores {
    margin-bottom: 3em;
}

.CompSumUp{
    text-align: center;
background-color: #4D7542;
    height: 100vh;
}