.divtutorial{
   background: #4D7542;
    min-height: 105vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.titulotutorial{
    margin-top: 5vh;
    text-align: center;
    color:white;
    margin-bottom: 1em;
}

/*
.carousel{
width: 500px;
height: 280px;
margin: 0 auto;
}

.inner{
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
}
*/

.container-slider {
  width: 400px;
  height: 530px;
  /*margin: 100px auto 0;*/
  position: relative;
  overflow: hidden;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 700px){
  .container-slider {
    margin: 100px 10px 0;
  }
}
.slide {
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0;
  transition: opacity ease-in-out 0.4s;
}
.slide img {
  width: 100%;
  height: 100%;
  object-fit:scale-down;
}
.active-anim {
  opacity: 1;
}

.btn-slide {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #f1f1f1;
  border: 1px solid rgba(34, 34, 34, 0.287);
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.btn-slide img {
  width: 25px;
  height: 25px;
  pointer-events: none;
}
.prev {
  top: 50%;
  left: 20px;
  transform: translateY(-60%);
}
.next {
  top: 50%;
  right: 20px;
  transform: translateY(-60%);
}


.container-dots {
  /*position: absolute;
  bottom: 12px;
  left: 50%;
  transform: translateX(-50%);*/
  margin-top: 2em;
  margin-bottom: 2em;
  display: flex;

}
.dot {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 3px solid #f1f1f1;
  margin: 0 5px;
  background: #f1f1f1;
  margin-top: em;
}
.dot.active {
  background: rgb(32, 32, 32);
}

@media only screen and (max-width: 412px) {
  .container-slider {
    width: 80%;
    box-shadow: none;
    margin-top: -10vh !important;

}
}

.voltartutorial{
  background-color: #BEE1B2;
  border-radius: 43px;
  padding-left: 30px ;
  color:#4D7542;
  font-weight: bold;
  padding-right: 30px;
  margin-top:1em;
  margin-left: 2em;
  margin-bottom: 1em;
  padding: 1em;
  border: none !important;
}

.btnvoltarfundo{
  background: #4D7542;
}

.corbrancamapbtn{
  margin-top: 1em;
  text-align: center;
  
color: white;
background: #4D7542;
}

.fundoloc{
  background:#4D7542 ;
  height: 133vh;
  margin: auto;
  text-align: center;
}

.corloc{
  margin-top: 0;
  padding-top: 0;
  background:#4D7542 ;
  color: white;
  margin-bottom: 2em;
}

.enquadarcentromapa{
  margin: auto;
  text-align: center;
  border-radius: 25px;
}

.espacotopmapa{
  margin: auto;
  text-align: center;
  background: #4D7542;
  margin-top: 0em;
  color: white;
}

.btnsubmterMAPAAA{
  margin-top: 3em;
  margin-bottom: 1em;
  padding: 0.5rem 1rem;
  color: #4D7542;
  background: #BEE1B2;
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 10px; 
}

.fundoverdeeeeeeemapa{
  background:#4D7542 ;
}

.btnvoltarlocationMAPAAA{
  text-align: left !important;
}