.CompAtividade {
    background-color: #bee1b2;
    align-content: center;
    text-align: center;
    color: white;
    width: 100%;
    margin: auto;
}


h5 {
    color: white;
    font-size: 1.5em;
    background-color: transparent;
}


.divimagem {

    text-align: left;
    margin-left: 2em;
    margin-bottom: 0.8em;
    background-color:  white;
}

.post p{
    background-color:  white;

}

p.equipalabel{
    color: #3d5e34!important;
}

p.log{
    color: green!important;
    overflow-wrap: break-word !important;
   /* max-width: 90% !important;*/
}

button{
    padding:0.2em 1em 0.2em 1em;
}

.equipalabel{
    text-align: right;
    margin-top:0.5em;
    margin-right: 1em;
}

#recent{
    text-align: center;
}

.flexy{
    display: flex;
    align-items:center;
    background-color: white;
}


p.log {
    text-align: right;
    padding-right: 2em;
    padding-left: 0.5em;
}

.corpo {
    margin: auto 0 auto 0;
    text-align: left;

}

.post {

    border-radius: 1em !important;
    background-color: white;
}


.profile {
    border-radius: 50%;
    height: 5em;
    text-align: left;
    background-color: green;

}

@media screen and (min-width: 1145px) {
    .post {

        margin: 1em 20em 1em 20em;
    }
}

@media screen and (max-width: 1144px) {
    .post {

        margin: 1em 10em 1em 10em;
    }
}

@media screen and (max-width: 694px) {
    .post {

        margin: 1em 1em 1em 1em;
    }
}
