.conteudohomepage {
    text-align: center;
    overflow-x: hidden !important;
}

h1 {
    margin: 0 1em 0.3em;
    color: #4D7542;

}


.buttonMala {
    color: white;
    background-color: #3d5e34;
    margin-bottom: 2em;
}

.buttonMala a {
    color: white !important;

}


.splide {
    padding: 20px 0;
}

.splide__slide img {
    display: block;
    width: 100%;
    border-radius: 8px;
    transition: transform 400ms;
    transform: scale(0.9);
    transform-origin: center center;
}

.splide__slide.is-active img {
    transform: scale(1);
}

.splide .splide__arrow {
    top: 0;
    bottom: 0;
    height: 100%;
    transform: none;
    border-radius: unset;
    width: 50px;
    opacity: 0.9;
}

.splide .splide__arrow svg {
    filter: invert(1);
    width: 24px;
    height: 24px;
}

.splide__arrow.splide__arrow--prev {
    left: 0;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0) 100%);
}

.splide__arrow.splide__arrow--next {
    right: 0;
    background: linear-gradient(270deg, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0) 100%);
}
/*
body {
    margin: 0;
    background-color: black;
    text-align: center;
}

a {
    padding: 4px 8px;
}

section {
    max-width: 700px;
    margin: 0 auto;
}
*/
.left {
    text-align: left;
}

.p {
    padding-left: 6em;
    text-align: justify;
    color: #342f2f;
    margin-bottom: 1.4em;

    margin-right: 3em;
    margin-top: 1em;
}

.espacoultimafrase {
    margin-top: 2em;

    margin-left: 0.5em;
    margin-right: 0.5em;
}

.div2img {
    display: flex;
    align-items: flex-start;
}

.img{

   /* position: absolute;*/
    margin: auto;
    text-align: center;
   /* z-index: 3; */
}

.fundoverde{
    z-index: 1.5;
}

.img2 {
    padding-left: 1em;
    max-width: 300px;
    /* position: absolute;*/
    margin: auto;
    text-align: center;
    /* z-index: 3;   */
}

.img3{
    max-width:278px;
    /*position: absolute;*/
    text-align: center;
   /* z-index: 3;*/
}

.sectionajuste {
    display: flex;
    height: auto;
    justify-content: space-between;
    margin: 4em auto 0 auto;
    align-items: center;
    width: 100%;
}
#login:hover{
    color:white;
}

@media (max-width: 600px) {
    .sectionajuste {
        margin: auto;
        width: 90%;
    }
}


.espaaacoemcimahp {
    margin-left: 1.5em;
    margin-right: 2em;
    text-align: right;

}

.espaaacoemcimahp.p2 {
    padding-left: 2em;
    margin-top: 1.5em;
    margin-left: 2em;
    text-align: left;


}

@media (max-width: 800px) {
    .sectionajuste {
        display: flex;
        flex-direction: column;
        margin: auto;
        width: 90%;
    }
}


.texto1 {
    padding: 3%;
    padding-left: 6em;
    margin-right: 5em;
    background-color: #E9F5E5;
    border-radius: 0px 100px 100px 0px;
}

.texto2 {
    padding: 3%;
    margin-left: 3em;
    background-color: #E9F5E5;
    border-radius: 100px 0px 0px 100px;

}

.img1 {
    background-color: #E9F5E5;
    margin-right: 0px;
    float: right;
    padding-right: 5em;

    border-radius: 143px 0px 0px 143px;
}

.img2 {
    width: 100em;
    background-color: #E9F5E5;
    margin-left: 0px;
    float: right;
    border-radius: 0px 143px 143px 0px

}

.p.p2 {
    margin-right: 12em;
}

@media only screen and (max-width: 800px) {
    .texto1, select {
        padding: 2.5em;
        border-radius: 100px;
        margin: 2.5em;
    }

}

@media only screen and (max-width: 800px) {
    .texto2, select {
        width: 100%;
        border-radius: 100px;
        margin: auto;

    }

}

@media only screen and (max-width: 800px) {
    .p, select {
        padding: 3%;

        background-color: #E9F5E5;
        border-radius: 0px 100px 100px 0px;
    }

}

@media only screen and (max-width: 800px) {
    .espaaacoemcimahp, select {
        text-align: center;

        margin-left: 0;
    }

}

@media only screen and (max-width: 800px) {
    .espaaacoemcimahp.p2, select {
        text-align: center;
        padding-left: 1em;
        margin-left: 0;
    }

}

@media only screen and (max-width: 800px) {
    .p.p2, select {
        margin-left: 1em;
    }

}

@media only screen and (max-width: 800px) {
    .p.p.p2, select {

        margin-right: 1em;
    }

}

@media only screen and (max-width: 800px) {
    .img {
        padding-bottom: 1em;
        padding-right: 0;
    }

}

@media only screen and (max-width: 800px) {
    .img1, select {
        background-color: transparent;
        padding-right: 0;
    }

}

@media only screen and (max-width: 800px) {
    .img2, select {
        background-color: transparent;
        padding-bottom: 1em;
        margin: auto;
    }
}


@media only screen and (max-width: 800px) {
    .img3, select {
        margin-bottom: 1em;
    }

}

@media only screen and (max-width: 800px) {
    .div.div2img.img2 select {
        text-align: center;
    }

}


@media only screen and (max-width: 800px) {
    .sectionajuste, select {
        margin: 1em;

        flex-direction: column-reverse;
    }

}


@media only screen and (max-width: 800px) {
    .sectionajuste.sec2, select {

        flex-direction: column;
    }

}

.imagem_hp_wave{
  background-image: url(../../paginas/foto1.jpg);
  aspect-ratio: 2048/1365;
  background-repeat: no-repeat;
  background-size:cover;
  background-position: center;
  /*object-fit: cover;*/
  height: 580px;
  width: 100%;
  margin-top: 15vh !important;
  bottom: 0px !important;
}

.titulo_img_wavy{
display:flex ;
justify-content: center;
margin: auto;
text-align: center;
padding-top: 18vh;
}

.cor_titulo_img_wavy{
    color: white !important;
}


.btn_img_wavy {
    margin-top: 2.5em;
    padding: 0.5rem 1rem;
    color: #4D7542;
    background: #C0E590;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 10px;
}

.waves_hpp{
    background-image: url(./wave_antes_img_hp.svg);
    height: 120px; 
}

.spaceWaves{
    aspect-ratio: 960/100;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
